@import url("https://fonts.googleapis.com/css2?family=Space+Mono&display=swap");

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
input[type="number"] {
  -moz-appearance: textfield;
} 

/*=================*/
/* custom scrollbar*/
/*=================*/
::-webkit-scrollbar {
  width: 20px;
}

::-webkit-scrollbar-track {
  background-color: transparent;
}

::-webkit-scrollbar-thumb {
  background-color: #fff;
  border-radius: 20px;
  border: 5px solid transparent;
  background-clip: content-box;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #a8bbbf;
}


@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .main {
    @apply grid font-space-mono bg-white justify-center items-center lg:grid-cols-2
            my-10 self-center rounded-3xl p-6 md:grid-rows-1 lg:grid-rows-1 sm:grid-cols-1
            sm:grid-rows-2 gap-8 md:mx-[10%] lg:mx-[15%];
  }
  .each-person {
    @apply flex flex-col bg-very-dark-cyan w-[auto] rounded-md h-[100%];
  }
  .reset {
    @apply text-very-dark-cyan  bg-strong-cyan m-[5%] block rounded-sm mt-40
            hover:bg-lightGrayishCyan-2 py-1 transition duration-300 ease-out;
  }
  .input {
    @apply bg-lightGrayishCyan-1 rounded-sm m-0 appearance-none    
            hover:border-strong-cyan border-2 focus:border-strong-cyan
            font-semibold text-right relative pr-2;
  }
  .heading {
    @apply text-sm block;
  }
  .button {
    @apply bg-very-dark-cyan text-white px-6 py-1 rounded active:text-very-dark-cyan
            active:bg-strong-cyan m-2 hover:text-very-dark-cyan hover:bg-strong-cyan 
            hover:bg-opacity-75 font-semibold transition duration-200 ease-out;
  }
  .custom-tip {
    @apply bg-lightGrayishCyan-1 font-semibold text-darkGrayishCyan-2 appearance-none
            px-6 rounded m-2 hover:bg-white hover:border-strong-cyan border-2
            md:placeholder:text-base text-right;
  }
  .filter-blue {
    filter: invert(60%) sepia(71%) saturate(410%) hue-rotate(122deg)
      brightness(115%) contrast(92%);
  }
  .filter-white {
    filter: brightness(100%);
  }
  .buttons-container {
    @apply grid mx-3 gap-x-2 lg:h-36 sm:h-40 my-3 grid-cols-2 grid-rows-3 sm:grid-cols-2 
        sm:grid-rows-3 md:grid-cols-3 md:grid-rows-2;
  }
  .button-active {
    @apply text-very-dark-cyan bg-strong-cyan;
  }
}
